<section class="group">
<h2>About Me</h2>
{% if site.aboutme_logo_css %}
<div id="aboutme-logo"></div>
{% elsif site.aboutme_logo %}
<a href="mailto:{{site.email}}" class="sidebar-about" title="Mail"><img src="{{site.aboutme_logo}}" class="aboutme_logo" alt="" ></a>
{% endif %}
{% if site.aboutme_marks %}
{% if site.email_mark %}
<a href="mailto:{{site.email}}" title="Mail" class="sidebar-about" ><i class="fa fa-envelope icon-link-btn"></i></a>
{% endif %}
{% if site.twitter_mark %}
<a href="//twitter.com/{{ site.twitter_user }}" title="Twitter" class="sidebar-about" ><i class="fa fa-twitter icon-link-btn"></i></a>
{% endif %}
{% if site.facebook_mark %}
<a href="//www.facebook.com/{{ site.facebook_user }}" title="Facebook" class="sidebar-about" ><i class="fa fa-facebook-square icon-link-btn"></i></a>
{% endif %}
{% if site.google_plus_one_mark %}
<a href="//plus.google.com/{{ site.googleplus_user }}" title="Google +1" class="sidebar-about" ><i class="fa fa-google-plus-square icon-link-btn"></i></a>
{% endif %}
{% if site.linkedin_mark %}
<a href="//www.linkedin.com/profile/view?id={{ site.linkedin_user }}" title="LinkedIn" class="sidebar-about" ><i class="fa fa-linkedin-square icon-link-btn"></i></a>
{% endif %}
{% if site.github_mark %}
<a href="//github.com/{{site.github_user}}" title="GitHub" class="sidebar-about" ><i class="fa fa-github-alt icon-link-btn"></i></a>
{% endif %}
<br>
{% if site.rss_mark %}
<a href="{{ site.subscribe_rss }}" title="RSS" class="sidebar-about"><i class="fa fa-rss icon-link-btn"></i></a>
{% endif %}
{% if site.feedly_mark %}
<a href='//feedly.com/i/subscription/feed/{{site.url}}{{site.subscribe_rss}}'><span class="feedlyimg feedly"></span></a>
{% endif %}
{% if site.bookmark_mark %}
<a href="#" class="add_bookmark sidebar-about" title="Favorite" data-page_title="{{site.title}}" data-page_url="{{site.url}}"><i class="fa fa-star-o icon-link-btn"></i></a>
{% endif %}
{% endif %}
</section>
