{% unless site.affiliate == false or page.affiliate == false %}{% if site.sponsored_links %}
<div class="center_wrapper">
  <div>{{site.sponsored_links}}</div>
  <div>
    <!-- img-aside-top -->
    <ins class="adsbygoogle google-img-rect"
         style="display:inline-block"
         data-ad-client="ca-pub-{{site.adsense_id}}"
         data-ad-slot="{{site.adsense_aside_mid}}"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
{% endif %}{% endunless %}
