{% if site.hatena_popular_posts %}
<section>
  <h1>Popular Posts</h1>
  <script language="javascript" type="text/javascript" src="http://b.hatena.ne.jp/js/widget.js" charset="utf-8"></script>
  <script language="javascript" type="text/javascript">
  Hatena.BookmarkWidget.url   = "{{site.url}}";
  Hatena.BookmarkWidget.sort  = "count";
  Hatena.BookmarkWidget.width = 0;
  Hatena.BookmarkWidget.num   = 10;
  Hatena.BookmarkWidget.theme = "notheme";
  Hatena.BookmarkWidget.load();
  </script>
</section>
{% endif %}
