[submodule ".plugins/Octopress-Slideshare-Plugin"]
	path = .plugins/Octopress-Slideshare-Plugin
	url = https://github.com/PeterHamilton/Octopress-Slideshare-Plugin.git
[submodule ".plugins/keyboardkey"]
	path = .plugins/keyboardkey
	url = https://github.com/rcmdnk/keyboardkey.git
[submodule ".plugins/monthly-archive"]
	path = .plugins/monthly-archive
	url = https://github.com/rcmdnk/monthly-archive.git
[submodule ".plugins/octopress-gemoji"]
	path = .plugins/octopress-gemoji
	url = https://github.com/rcmdnk/octopress-gemoji.git
[submodule ".plugins/octopress-postscript"]
	path = .plugins/octopress-postscript
	url = https://github.com/rcmdnk/octopress-postscript.git
[submodule ".plugins/GitHub-jQuery-Repo-Widget"]
	path = .plugins/GitHub-jQuery-Repo-Widget
	url = https://github.com/JoelSutherland/GitHub-jQuery-Repo-Widget.git
[submodule ".plugins/footnote-inline"]
	path = .plugins/footnote-inline
	url = https://github.com/rcmdnk/footnote-inline
[submodule ".plugins/jquery.ex-flex-fixed"]
	path = .plugins/jquery.ex-flex-fixed
	url = https://github.com/cyokodog/jquery.ex-flex-fixed.git
[submodule ".plugins/githubrepo-octopress"]
	path = .plugins/githubrepo-octopress
	url = https://github.com/sotsy/githubrepo-octopress.git
[submodule ".plugins/octopress-responsive-video-embed"]
	path = .plugins/octopress-responsive-video-embed
	url = https://github.com/optikfluffel/octopress-responsive-video-embed
[submodule ".plugins/jekyll-var-to-js"]
	path = .plugins/jekyll-var-to-js
	url = https://github.com/rcmdnk/jekyll-var-to-js
[submodule ".plugins/octopress-share-numbers"]
	path = .plugins/octopress-share-numbers
	url = https://github.com/rcmdnk/octopress-share-numbers.git
