{% if post %}
  {% assign p = post %}
{% else %}
  {% assign p = page %}
{% endif %}
<ol class="breadcrumbs">
  <li><a href="{{site.url}}"><span>Top</span></a></li>
  {% if p.categories %}
    {% capture c %}{{p.categories|first}}{% endcapture %}
    <span class="breadcrumbs_separator"> › </span><li><a href="{{site.url}}/{{site.category_dir}}/{{c|downcase}}/"><span>{{c}}</span></a></li>
  {% endif %}
  {% if p.tags %}
    {% capture t %}{{p.tags|first}}{% endcapture %}
    <span class="breadcrumbs_separator"> › </span><li><a href="{{site.url}}/{{site.tag_dir}}/{{t|downcase}}/"><span>{{t}}</span></a>
    {% if p.tags.size > 1 %}
      {% for t in p.tags offset:1 %}
        <span>, </span>
        <a href="{{site.url}}/{{site.tag_dir}}/{{t|downcase}}/"><span>{{t}}</span></a>
      {% endfor %}
    {% endif %}
    </li>
  {% endif %}
</ol>

