{% if index %}{% capture share_url %}{{ site.url }}{{ post.url }}{% endcapture %}{% capture share_title %}{{ post.title }}{% endcapture %}{% else %}{% capture share_url %}{{ site.url }}{{ page.url }}{% endcapture %}{% capture share_title %}{{ page.title }}{% endcapture %}{% endif %}
<div class="sharing">
  <ul>
    {% if site.hatena_button %}
    <li class="hatebu">
    <div class="hatebu">
      <a href="http://b.hatena.ne.jp/entry/{{share_url}}"
          class="hatena-bookmark-button"
          data-hatena-bookmark-layout="standard"
      ><img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
            alt="{{hatena_add}}"/></a>
    </div>
    </li>
    {% endif %}
    {% if site.twitter_tweet_button %}
    <li class="twitter">
    <div class="twitter">
      <a href="http://twitter.com/share"
          class="twitter-share-button"
          data-url="{{share_url}}"
          data-via="{{ site.twitter_user }}"
          data-counturl="{{share_url}}">Tweet</a>
    </div>
    </li>
    {% endif %}
    {% if site.google_plus_one %}
    <li class="googleplus">
    <div class="googleplus">
      <div class="g-plusone"
          data-size="{{ site.google_plus_one_size }}"
          data-href="{{share_url}}"></div>
    </div>
    </li>
    {% endif %}
    {% if site.facebook_like %}
    <li class="facebook">
    <div class="facebook">
      <div class="fb-like"
          data-share="false"
          data-layout="button_count"
          data-show-faces="false"
          data-font="verdana"
          data-href="{{share_url}}"></div>
    </div>
    </li>
    {% endif %}
    {% if site.facebook_share %}
    <li class="facebook_share">
    <div class="facebook_share">
      <div class="fb-share-button"
          data-type="button_count"
          data-font="verdana"
          data-href="{{share_url}}"></div>
    </div>
    </li>
    {% endif %}
    {% if site.pocket_button %}
    <li class="pocket">
    <div class="pocket">
      <a href="https://getpocket.com/save"
          class="pocket-btn" data-lang="en"
          data-save-url="{{share_url}}"
          data-pocket-count="horizontal"
          data-pocket-align="left">Pocket</a>
    </div>
    </li>
    {% endif %}
    {% if site.linkedin_button %}
    <li class="linkedin">
    <div class="linkedin">
      <script type="IN/Share" data-url="{{share_url}}" data-counter="right"></script>
    </div>
    </li>
    {% endif %}
    {% if site.stumble_button %}
    <li class="stumble">
    <div class="stumble">
      <su:badge layout="2" location="{{share_url}}"></su:badge>
    </div>
    </li>
    {% endif %}
    {% if site.pinterest_button %}
    <li class="pinterest">
    <div class="pinterest">
      <a href="//jp.pinterest.com/pin/create/button/"
        data-pin-url="{{share_url}}"
        data-pin-do="buttonBookmark"
        data-pin-color="red"
        data-pin-height="20"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" alt="Pinterest"/></a>
    </div>
    </li>
    {% endif %}
    {% if site.delicious_button %}
    <li class="delicious">
    <div class="delicious">
      <a href="#"
        onclick="window.open('https://delicious.com/save?v=5&provider=rcmdnk&noui&jump=close&url={{share_url}}&title={{share_title|cgi_escape}}', 'delicious','toolbar=no,width=550,height=550'); return false;"
        ><img src="https://delicious.com/img/logo.png" height="16" width="16" alt="Delicious"> Save this on Delicious</a>
    </div>
    </li>
    {% endif %}
    {% if site.tumblr_button %}
    {% if index %}
      {% capture description %}
        {% if post.description %}
          {{ post.description }}
        {% endif %}
      {% endcapture %}
    {% else %}
      {% capture description %}
        {% if page.description %}
          {{ page.description }}
        {% else %}
          {{ content | excerpt }}
        {% endif %}
      {% endcapture %}
    {% endif %}
    {% capture description %}{{ description | strip_html | codense_spaces | truncate:150 }}{% endcapture %}
    <li class="tumblr">
    <div class="tumblr">
      <a href="http://www.tumblr.com/share/link?url={{share_url|cgi_escape}}&name={{share_title|cgi_escape}}&description={{description|cgi_escape}}"
          title="Share on Tumblr"
          class="tumblr_button"
          style="">Tumblr</a>
    </div>
    </li>
    {% endif %}
    {% if site.bookmark %}
    <li class="bookmark">
    <div class="bookmark">
      <input class="link_btn add_bookmark"
          type="button"
          value="{{site.favorite}}"
          data-page_title="{{share_title}} - {{site.title}}"
          data-page_url="{{share_url}}"/>
    </div>
    </li>
    {% endif %}
  </ul>
</div>
