{% if index %}
  {% assign p = post %}
{% else %}
  {% assign p = page %}
{% endif %}
{% capture share_url %}{{ site.url | uri_escape}}{{ p.url | uri_escape}}{% endcapture %}
{% capture share_title %}{{ p.title }}{% endcapture %}
{% capture n_views %}{% if p._pv %}{{ p._pv }}{% else %}0{% endif %}{% endcapture %}
{% if page.share_all %}{% assign views = true %}{%elsif p.views_button != nil %}{% assign views = p.views_button %}{% else %}{% assign views = site.views_button %}{% endif %}
{% if page.share_all %}{% assign hatena = true %}{%elsif p.hatena_button != nil %}{% assign hatena = p.hatena_button %}{% else %}{% assign hatena = site.hatena_button %}{% endif %}
{% if page.share_all %}{% assign tweet = true %}{%elsif p.twitter_tweet_button != nil %}{% assign tweet = p.twitter_tweet_button %}{% else %}{% assign tweet = site.twitter_tweet_button %}{% endif %}
{% if page.share_all %}{% assign gplus = true %}{%elsif p.google_plus_one != nil %}{% assign gplus = p.google_plus_one %}{% else %}{% assign gplus = site.google_plus_one %}{% endif %}
{% if page.share_all %}{% assign facebook = true %}{%elsif p.facebook_share != nil %}{% assign facebook = p.facebook_share %}{% else %}{% assign facebook = site.facebook_share %}{% endif %}
{% if page.share_all %}{% assign pocket = true %}{%elsif p.pocket_button != nil %}{% assign pocket = p.pocket_button %}{% else %}{% assign pocket = site.pocket_button %}{% endif %}
{% if page.share_all %}{% assign linkedin = true %}{%elsif p.linkedin_button != nil %}{% assign linkedin = p.linkedin_button %}{% else %}{% assign linkedin = site.linkedin_button %}{% endif %}
{% if page.share_all %}{% assign stumble = true %}{%elsif p.stumble_button != nil %}{% assign stumble = p.stumble_button %}{% else %}{% assign stumble = site.stumble_button %}{% endif %}
{% if page.share_all %}{% assign pinterest = true %}{%elsif p.pinterest_button != nil %}{% assign pinterest = p.pinterest_button %}{% else %}{% assign pinterest = site.pinterest_button %}{% endif %}
{% if page.share_all %}{% assign delicious = true %}{%elsif p.delicious_button != nil %}{% assign delicious = p.delicious_button %}{% else %}{% assign delicious = site.delicious_button %}{% endif %}
{% if page.share_all %}{% assign tumblr = true %}{%elsif p.tumblr_button != nil %}{% assign tumblr = p.tumblr_button %}{% else %}{% assign tumblr = site.tumblr_button %}{% endif %}

<div class="share-button">
  <ul>
    {% if views %}
    <li><a href="{{share_url}}"
    title="Views by Analytics"
    target="_blank"><p class="views_custom" >View <span class="viewsCount" data-share-url="{{share_url}}">{{n_views}} </span></p></a></li>
    {% endif %}
    {% if hatena %}
    {%comment%}
    <li><a href="http://b.hatena.ne.jp/add?mode=confirm&url={{share_url}}&title={{share_title}}"
    {%endcomment%}
    <li><a href="http://b.hatena.ne.jp/entry/{{share_url}}"
    title="Save to Hatebu"
    target="_blank"><p class="hatebu_custom" >B! <span class="hatebuCount" data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if tweet %}
    <li><a href="http://twitter.com/intent/tweet?text={{share_title}}&url={{share_url}}&via={{site.author}}"
    title="Share on Twitter"
    target="_blacnk"><p class="twitter_custom"><i class="fa fa-twitter"></i> <span class="twitterCount" data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if gplus %}
    <li><a href="https://plus.google.com/share?url={{share_url}}&title={{share_title}}"
    title="Share on Google+"
    target="_blank"><p  class="googleplus_custom"><i class="fa fa-google-plus"></i> <span class="googleplusCount"  data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if facebook %}
    <li><a href="http://www.facebook.com/sharer.php?src=bm&u={{share_url}}&amp;t={{share_title}}"
    title="Share on Facebook"
    target="_blank"><p  class="facebook_custom"><i class="fa fa-facebook"></i> <span class="facebookCount" data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if pocket %}
    <li><a href="http://getpocket.com/edit?url={{share_url}}&title={{share_title}}"
    title="Save to Pocket"
    target="_blank"><p  class="pocket_custom">P <span class="pocketCount" data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if linkedin %}
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{share_url}}&title={{share_title}}&source={{site.author}}"
    title="Share on LinkedIn"
    target="_blank"><p  class="linkedin_custom"><i class="fa fa-linkedin"></i> <span class="linkedinCount" data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if stumble %}
    <li><a href="http://www.stumbleupon.com/badge/?url={{share_url}}&title={{share_title}}"
    title="Save to StumbleUpon"
    target="_blank"><p  class="stumble_custom"><i class="fa fa-stumbleupon"></i> <span class="stumbleCount" data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if pinterest %}
    <li><a href="http://pinterest.com/pin/create/button/?url={{share_url}}&title={{share_title}}"
    title="Save to Pinterest"
    target="_blank"><p  class="pinterest_custom"><i class="fa fa-pinterest"></i> <span class="pinterestCount" data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if delicious %}
    <li><a href="https://delicious.com/save?v=5&provider={{site.author}}&noui&jump=close&url={{share_url}}&title={{share_title}}"
    title="Save to Delicious"
    target="_blank"><p  class="delicious_custom"><i class="fa fa-delicious"></i> <span class="deliciousCount" data-share-url="{{share_url}}"></span></p></a></li>
    {% endif %}
    {% if tumblr %}
    {% capture description %}{% if p.description %}{{ p.description }}{% endif %}{% endcapture %}
    {% capture description %}{{ description | strip_html | codense_spaces | truncate:150 }}{% endcapture %}
    <li><a
    href="https://delicious.com/save?v=5&provider={{site.author}}&noui&jump=close&url={{share_url}}&title={{share_title}}"
    title="Share on Tumblr"
    target="_blank"><p  class="tumblr_custom"><i class="fa fa-tumblr"></i></p></a></li>
    {% endif %}
  </ul>
</div>
