<section>
  <h2><a href="/blog/archives/">Recent Posts</a></h2>
  <ul id="recent_posts" class="posts">
    {% for post in site.posts limit: site.recent_posts %}
    {% if site.adsense_aside_popular and forloop.index == 3 %}
    <li>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-hr+8-1l-2i+ar"
         data-ad-client="ca-pub-{{site.adsense_id}}"
         data-ad-slot="{{site.adsense_aside_recent}}"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </li>
    {% endif %}
    <li class="post index_click_box">
      {% include post/post_list.html%}
    </li>
    {% endfor %}
  </ul>
</section>
