{% unless site.affiliate == false or page.affiliate == false %}
<div>
  <script type="text/javascript"><!--
  amazon_ad_tag = "{{site.amazon_ad_tag}}"; amazon_ad_width = "300"; amazon_ad_height = "250"; amazon_ad_logo = "hide"; amazon_ad_link_target = "new"; amazon_ad_border = "hide"; amazon_color_border = "F2F2F2"; amazon_color_background = "F2F2F2"; amazon_color_text = "7C7C7C"; amazon_color_link = "006699"; amazon_color_price = "722727"; amazon_color_logo = "7C7C7C";//--></script>
  <script type="text/javascript" src="http://ir-jp.amazon-adsystem.com/s/ads.js"></script>
</div>
{% endunless %}
