{% if site.google_search_pub %}
<script src='//www.google.com/jsapi' type='text/javascript'></script>
<script type='text/javascript'>
google.load('search', '1', {language: '{%if site.google_search_lang%}{{site.google_search_lang}}{%else%}en{%endif%}', style: google.loader.themes.DEFAULT});
google.setOnLoadCallback(function() {
  var customSearchOptions = {};
  customSearchOptions['overlayResults'] = true;
  var customSearchControl =   new google.search.CustomSearchControl('partner-pub-{{site.google_search_pub}}', customSearchOptions);
  customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  var options = new google.search.DrawOptions();
  customSearchControl.draw('cse', options);
  var e = document.querySelectorAll(".gsc-search-button .gsc-search-button");
  var i;
  for(i=0;i<e.length;i++){
    e[0].value = eval("'\\uf00e'");
  }
}, true);
</script>
{% endif %}
