---
layout: default
---

<div><!-- page -->
  <article>
    {% include custom/pagetop.html %}
    <!-- google_ad_section_start -->
    {% if page.title %}
    <header>
      {% if page.date_html %}<p class="meta">{{ page.date_html }}</p>{% endif %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    </header>
    {% endif %}
    {% unless page.sharing == false %}
    {% unless site.share_official == false %}
    {% include post/sharing.html %}
    {% endunless %}
    {% if site.share_custom == true %}
    {% include post/sharing_custom.html %}
    {% endif %}
    {% endunless %}
    {% if site.zenback_show == true and page.comments == true %}
    <!-- zenback_body_begin -->
    {% endif %}
    <div class="entry-content">
    {{ content }}
    {% include custom/endofcontent.html %}
    </div>
    {% if site.zenback_show == true and page.comments == true %}
    <!-- zenback_body_end -->
    {% endif %}
    <!-- google_ad_section_end -->
    {% unless page.footer == false %}
    <footer>
      {% include custom/footertop.html %}
      {% if page.date or page.author %}
      <div class="meta">
        {% include post/author.html %}
        {% date_html %}{% date_updated_html Updated:%}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
        {% if page.tags %}{% include post/tags.html %}{% endif %}
      </div>{% endif %}
    </footer>
    {% endunless %}
  </article>
  {% include custom/after_article.html %}
  {% include post/disqus_thread.html %}
  {% include custom/zenback.html %}
</div><!-- page -->
{% unless page.sidebar == false %}
  {% if site.page_asides.size %}
    <aside class="sidebar">
      {% include_array page_asides %}
    </aside>
  {% else %}
    {% common_part common_sidebar.html %}
  {% endif %}
{% endunless %}
