---
layout: default
---

<div><!-- page -->
  <article role="article">
    {% include custom/pagetop.html %}
    <!-- google_ad_section_start -->
    {% if page.title %}
    <header>
      {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    </header>
    {% endif %}
    {% unless page.sharing == false %}
    {% unless site.share_official == false %}
    {% include post/sharing.html %}
    {% endunless %}
    {% if site.share_custom == true %}
    {% include post/sharing_custom.html %}
    {% endif %}
    {% endunless %}
    {% if site.zenback_show == true and page.comments == true %}
    <!-- zenback_body_begin -->
    {% endif %}
    <div class="entry-content">
    {{ content }}
    {% include custom/endofcontent.html %}
    </div>
    {% if site.zenback_show == true and page.comments == true %}
    <!-- zenback_body_end -->
    {% endif %}
    <!-- google_ad_section_end -->
    {% unless page.footer == false %}
    <footer>
      {% include custom/footertop.html %}
      {% if page.date or page.author %}
      <p class="meta">
        {% include post/author.html %}
        {% include post/date.html %}{{ time }}{% if updated %}{{ updated }} Updated.{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
        {% if page.tags %}{% include post/tags.html %}{% endif %}
      </p>{% endif %}
    </footer>
    {% endunless %}
  </article>
  {% include custom/after_article.html %}
  {% if site.disqus_short_name and page.comments == true %}
  {% include post/disqus_thread.html %}
  {% endif %}
  {% if site.zenback_show == true and page.comments == true %}
  {% include custom/zenback.html %}
  {% endif %}
</div><!-- page -->
{% unless page.sidebar == false %}
{% if site.page_asides.size %}
<aside class="sidebar">
  {% include_array page_asides %}
</aside>
{% else %}
COMMON_SIDEBAR
{% endif %}
{% endunless %}
