---
layout: default
single: true
---

<div itemscope itemtype="https://schema.org/Blog"><!-- post -->
  <article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    {% include custom/pagetop.html %}
    <!-- google_ad_section_start -->
    {% include article.html %}
    <!-- google_ad_section_end -->
    <footer>
      {% include custom/footertop.html %}
      <div class="meta">
        {% include post/author.html %}
        {% date_html %}{% date_updated_html Last update %}
        {% include post/categories.html %}
        {% include post/tags.html %}
      </div>
      {% unless page.sharing == false %}
      {% unless site.share_official == false %}
      {% include post/sharing.html %}
      {% endunless %}
      {% if site.share_custom == true %}
      {% include post/sharing_custom_big.html %}
      {% endif %}
      {% endunless %}
    </footer>
  </article>
  {% include custom/after_article.html %}
  {% capture adsense_slot %}{{site.adsense_bottom2}}{% endcapture %}{% include custom/affiliate/google_adsense.html %}{% capture adsense_slot %}{% endcapture %}
  {% include post/disqus_thread.html %}
  {% include custom/zenback.html %}
  {% include linkwithin.html %}
  <p class="meta">
    {% if page.previous.url %}
    <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
    <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </p>
  {% include custom/endofpost.html %}
</div><!-- post -->
{% unless page.sidebar == false %}
  {% if site.post_asides.size %}
    <aside class="sidebar">
      {% include_array post_asides %}
    </aside>
  {% else %}
    {% common_part common_sidebar.html %}
  {% endif %}
{% endunless %}
