---
layout: default
single: true
---

<div><!-- post -->
  <article role="article" itemprop="blogPosts" itemscope itemtype="https://schema.org/BlogPosting">
    {% include custom/pagetop.html %}
    <!-- google_ad_section_start -->
    {% include article.html %}
    <!-- google_ad_section_end -->
    <footer>
      {% include custom/footertop.html %}
      <p class="meta">
        {% include post/author.html %}
        {% date_html Posted: %}{% date_updated_html Updated: %}
        {% include post/categories.html %}
        {% include post/tags.html %}
      </p>
      {% unless page.sharing == false %}
      {% unless site.share_official == false %}
      {% include post/sharing.html %}
      {% endunless %}
      {% if site.share_custom == true %}
      {% include post/sharing_custom_big.html %}
      {% endif %}
      {% endunless %}
      <p class="meta">
        {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </p>
    </footer>
  </article>
  {% include custom/after_article.html %}
  {% if site.disqus_short_name and page.comments == true %}
    {% include post/disqus_thread.html %}
  {% endif %}
  {% if site.zenback_show == true and page.comments == true %}
    {% include custom/zenback.html %}
  {% endif %}
  {% if site.linkwithin_show == true and page.footer != false %}
    {% include linkwithin.html %}
  {% endif %}
{%comment%}
  {% unless site.affiliate == false or page.affiliate == false %}
    {% if site.sponsored_links %}
      <div class="center_wrapper">
        <div>{{site.sponsored_links}}</div>
        <div>
          {% include custom/affiliate/google_bottom2.html %}
        </div>
      </div>
      {% if site.adsense_related %}
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="autorelaxed"
             data-ad-client="ca-pub-{{site.adsense_id}}"
             data-ad-slot="{{site.adsense_related}}"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push();
        </script>
      {% endif %}
    {% endif %}
  {% endunless %}
{%endcomment%}
  {% unless site.related_posts == false %}
    {% include post/related_posts.html %}
  {% endunless %}
  {% include custom/endofpost.html %}
</div><!-- post -->
{% unless page.sidebar == false %}
{% if site.post_asides.size %}
<aside class="sidebar">
  {% include_array post_asides %}
</aside>
{% else %}
{% common_part common_sidebar.html %}
{% endif %}
{% endunless %}
