$max-width: 1200px !default;

$content-min-width: 320px !default;

// Padding used for layout margins
$pad-min: 10px !default;
$pad-medium: 35px !default;

// Sidebar widths used in media queries
$sidebar-pad-medium: $pad-min !default;
$sidebar-width-medium: $content-min-width !default;

$min-width: $content-min-width * 2 - $body-border !default;

$indented-lists: true !default;

$header-font-size: 1.3em !default;
$header-padding-top: 1.2em !default;
$header-padding-bottom: 1em !default;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: auto;
  max-width: $max-width;
  min-width: $min-width;
  position: relative;
  margin: 0 auto;
  > header, > nav, > footer, #content > article, #content > div > article, #content > div > section {
    @extend .group;
    padding-left: $pad-min;
    padding-right: $pad-min;
  }
  div.pagination {
    @extend .group;
    margin-left: $pad-min;
    margin-right: $pad-min;
  }
  > header {
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
  }
}

#content {
  overflow: visible;
  margin-right: $sidebar-width-medium;
  position: relative;
  > div, > article {
    width: 100%;
    padding-top: $pad-medium/2;
    padding-bottom: $pad-medium/2;
    float: left;
  }
}

aside.sidebar {
  background-color: $sidebar-bg;
  border-top: 1px solid $sidebar-border;
  @extend .group;

  width: $sidebar-width-medium - $sidebar-pad-medium*2;
  padding: 0 $sidebar-pad-medium $sidebar-pad-medium;
  background: none;
  clear: none;
  float: left;
  margin: 0 -100% 0 0;
  section {
    width: auto; margin-left: 0;
    &.odd, &.even { float: none; width: auto; margin-left: 0; }
  }
}

.flex-content { max-width: 100%; max-height: 100%; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

.toggle-sidebar { &, .no-sidebar & { display: none; }}

body.sidebar-footer {
  #content { margin-right: 0px; }
  .toggle-sidebar { display: none; }
}

#main, #content, .sidebar {
  @extend .group;
}

#main {
  padding: 0;
  margin: 0 auto;
}

@if $indented-lists == false {
  @media only screen and (min-width: 768px) {
    ul, ol { margin-left: 0; }
  }
}

.dotted-border {
  border: 0 none;
  background-repeat:repeat-x;
  background-image:url(/images/dotted-border.png)
}

// Table view
* + table{
  border-style: solid;
  border-width: 1.5px;
  //border-color: #CCCCCC;
  border-color: darken($main-bg,20);
}

* + table tr {
  &:nth-child(2n+1) {
    //background: #F8F8F8;
    background:lighten($main-bg,4);
  }
  &:nth-child(even) {
    //background: #FFFFFF;
    background:lighten($main-bg,2);
  }
}

* + table th, * + table td {
  border-style: solid;
  border-width: 1.5px;
  border-color: darken($main-bg,20);
}

* + table th {
  font-weight: bold;
  //background: #F0F0F0;
  background: darken($main-bg,5);
}

th[align="left"], td[align="left"] {
  text-align:left;
}

th[align="right"], td[align="right"] {
  text-align:right;
}

th[align="center"],  td[align="center"] {
  text-align:center;
}


#markdown-toc{
  margin-left: 0;
  padding: 0px 10px 10px 10px;
  border: solid 2px darken($main-bg, 15);
  border-radius: 10px;
  li {
    margin-left:1em;
  }
  float: left;
  &:before{
    content:"Contents";
    @extend .heading;
    text-rendering: optimizelegibility;
    font-weight: bold;
    font-size: 1.7em;
    line-height: 2.0em;
  }
}

$icon-link-btn-font-size: 2em !default;
$icon-link-btn-height: 1.2 !default;
i.icon-link-btn {
  font-size: $icon-link-btn-font-size;
  line-height: $icon-link-btn-height;
  text-decoration: none;
}
.link_btn {
  background-color:$nav-bg;
  padding:2px;
  padding-left:5px;
  padding-right:5px;
  position:relative;
  text-decoration:none;
  //color:$nav-bg;
  border: solid 2px darken($nav-bg, 15);
  border-radius: 10px;
}

.link_btn:active {
  padding-bottom:1px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  top:1px;
}

.link_btn::before {
  background-color:$nav-bg;
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  padding:1px;
  left:-1px;
  top:-1px;
  z-index:-1;
  border-radius: 10px;
}

.va_baseline { vertical-align: baseline; }
.va_top { vertical-align: top; }
.va_middle { vertical-align: middle; }
.va_bottom { vertical-align: bottom; }
.va_text_top { vertical-align: text-top; }
