.group { @include pie-clearfix; }

@mixin collapse-sidebar {
  float: none;
  width: auto;
  clear: left;
  margin: 0;
  padding: 0 $pad-medium 1px;
  //background-color: lighten($sidebar-bg, 2);
  border-top: 0px;
  section {
    &.odd, &.even { float: left; width: 48%; }
    &.odd { margin-left: 2%; }
    &.even { margin-left: 2%; }
  }
  //&.thirds section {
  //  width: 30%;
  //  margin-left: 5%;
  //  &.first {
  //    margin-left: 0;
  //    clear: both;
  //  }
  //}
}

body {
  -webkit-text-size-adjust: 100%;
  max-width: $max-width;
  @if $sidebar-remain == true {
    min-width: $content-min-width * 2 - $body-border;
  }
  position: relative;
  margin: 0 auto;
  > header, > nav, > footer, #content > article, #content > div > article, #content > div > section {
    @extend .group;
    padding-left: $pad-min;
    padding-right: $pad-min;
  }
  div.pagination {
    @extend .group;
    margin-left: $pad-min;
    margin-right: $pad-min;
  }
  > header {
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
  }
}

#content {
  @if $sidebar-remain == true {
    overflow: visible;
    margin-right: $sidebar-width-medium;
    position: relative;
    > div, > article {
      width: 100%;
      padding-top: $pad-medium/2;
      padding-bottom: $pad-medium/2;
      float: left;
    }
  } @else {
    overflow: hidden;
    > div, > article { width: 100%; }
  }
}

aside.sidebar {
  float: none;
  //clear: none;
  //float: left;
  padding: 2em $pad-min 1px;
  //padding: 0 $sidebar-pad-medium $sidebar-pad-medium;
  //background-color: lighten($sidebar-bg, 2);
  background-color: $sidebar-bg;
  border-top: 0px;
  background: none;
  @extend .group;
  .only-footer {
    font-family: $serif;
    color: $text-color;
    font-size: 1.25em;
    display: block;
  }
  section {
    text-align: left;
    //width: auto; margin-left: 0;
    //&.odd, &.even { float: none; width: auto; margin-left: 0; }
  }
  @if $sidebar-remain == true {
    width: $sidebar-width-medium - $sidebar-pad-medium*2;
    margin: 0 -100% 0 0;
    .only-footer {
      display: none;
    }
  }
}

.flex-content { max-width: 100%; height: auto; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

.center_wrapper {
  text-align: center;
}

.toggle-sidebar { &, .no-sidebar & { display: none; }}

body.sidebar-footer {
  @media only screen and (min-width: 750px) {
    aside.sidebar{
      @include collapse-sidebar;
      .only-footer {
        display: none;
      }
    }
  }
  #content { margin-right: 0px; }
  .toggle-sidebar { display: none; }
}

@if $sidebar-remain == false {
  @media only screen and (min-width: 550px) {
    body > header { font-size: $header-font-size; }
  }
  @media only screen and (min-width: 750px) {
    aside.sidebar {
      @include collapse-sidebar;
      .only-footer {
        display: none;
      }
    }
  }
}
#main, #content, .sidebar {
  @extend .group;
}
@if $sidebar-remain == false {
  @media only screen and (min-width: 768px) {
    body { -webkit-text-size-adjust: auto; }
    body > header { font-size: $header-font-size * 1.2; }
    #main {
      padding: 0;
      margin: 0 auto;
    }
    #content {
      overflow: visible;
      margin-right: $sidebar-width-medium;
      position: relative;
      .no-sidebar & { margin-right: 0; border-right: 0; }
      .collapse-sidebar & { margin-right: 20px; }
      > div, > article {
        padding-top: $pad-medium/2;
        padding-bottom: $pad-medium/2;
        float: left;
      }
    }
    aside.sidebar {
      width: $sidebar-width-medium - $sidebar-pad-medium*2;
      padding: 2em $sidebar-pad-medium $sidebar-pad-medium;
      background: none;
      clear: none;
      float: left;
      margin: 0 -100% 0 0;
      section {
        width: auto; margin-left: 0;
        &.odd, &.even { float: none; width: auto; margin-left: 0; }
      }
      .collapse-sidebar & {
        @include collapse-sidebar;
        .only-footer {
          font-family: $serif;
          color: $text-color;
          font-size: 1.25em;
          display: block;
        }
      }
    }
  }
  @media only screen and (min-width: 992px) {
    body > header { font-size: $header-font-size * 1.3; }
    #content { margin-right: $sidebar-width-wide; }
    #content {
      > div, > article {
        padding-top: $pad-wide/2;
        padding-bottom: $pad-wide/2;
      }
    }
    aside.sidebar {
      width: $sidebar-width-wide - $sidebar-pad-wide*2;
      padding: 2em $sidebar-pad-wide $sidebar-pad-wide;
      .collapse-sidebar & {
        padding: { left: $pad-wide; right: $pad-wide; }
      }
    }
  }
}

@if $indented-lists == false {
  @media only screen and (min-width: 768px) {
    ul, ol { margin-left: 0; }
  }
}

.dotted-border {
  border: 0 none;
  background-repeat:repeat-x;
  background-image:url(/images/dotted-border.png)
}

// Table view
* + table{
  border-style: solid;
  border-width: 1.5px;
  //border-color: #CCCCCC;
  border-color: darken($main-bg,20);
}

* + table tr {
  &:nth-child(2n+1) {
    //background: #F8F8F8;
    background:lighten($main-bg,4);
  }
  &:nth-child(even) {
    //background: #FFFFFF;
    background:lighten($main-bg,2);
  }
}

* + table th, * + table td {
  border-style: solid;
  border-width: 1.5px;
  border-color: darken($main-bg,20);
}

* + table th {
  font-weight: bold;
  //background: #F0F0F0;
  background: darken($main-bg,5);
}

th[align="left"], td[align="left"] {
  text-align:left;
}

th[align="right"], td[align="right"] {
  text-align:right;
}

th[align="center"],  td[align="center"] {
  text-align:center;
}


#markdown-toc{
  margin-left: 0;
  margin-top: 1em;
  padding: 0px 10px 10px 10px;
  border: solid 2px darken($main-bg, 15);
  border-radius: 10px;
  li {
    margin-left:1em;
  }
  float: left;
  &:before{
    content:"Contents";
    @extend .heading;
    text-rendering: optimizelegibility;
    font-weight: bold;
    font-size: 1.7em;
    line-height: 2.0em;
  }
}

$icon-link-btn-font-size: 2em !default;
$icon-link-btn-height: 1.2 !default;
i.icon-link-btn {
  font-size: $icon-link-btn-font-size;
  line-height: $icon-link-btn-height;
  text-decoration: none;
}

.link_btn {
  background-color: $nav-bg;
  padding: 2px 5px 0px;
  position: relative;
  text-decoration: none;
  border: solid 2px darken($nav-bg, 15);
  border-radius: 10px;
  &:active {
    padding: 3px 5px 1px;
    top: 1px;
  }
  &::before {
    background-color: $nav-bg;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1px;
    left: -1px;
    top: -1px;
    z-index: -1;
    border-radius: 10px;
  }
}

.va_baseline { vertical-align: baseline; }
.va_top { vertical-align: top; }
.va_middle { vertical-align: middle; }
.va_bottom { vertical-align: bottom; }
.va_text_top { vertical-align: text-top; }
