article {
  padding-top: 1em;
  a { @extend .force-wrap; }
  header {
    position: relative;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background: none;
    padding-bottom: 0;
    h1 {
      margin: 0;
      a {
        color: $text-color;
        text-decoration: none;
        @include link-colors($text-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $text-color, $active: $link-color-active);
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p, div {
      font-size: .9em;
      color: $text-color-light;
      line-height: 1.8em;
      margin-bottom: 0.5em;
      &.meta {
        @extend .sans;
        //text-transform: uppercase;
      }
    }
  }
  h2 {
    padding-top: 0.8em;
    background: $img-border top left repeat-x;
  }
  .entry-content & h2:first-child, header + h2 { padding-top: 0; }
  h2:first-child, header + h2 { background: none; }
  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $img-border bottom left repeat-x;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }
  img{
    @extend .flex-content;
    @extend .basic-alignment;
  }
  .pic {
    @include shadow-box;
    @extend .flex-content;
    @extend .basic-alignment;
  }
  > footer {
    padding-bottom: 2.5em;
    margin-top: 2em;
    @extend .sans;
    p.meta, div.meta {
      margin-bottom: .8em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before, .byline ~  .tags:before {
      @extend .separator;
    }
  }
}

article + article {
  .blog-index & {
    background: $img-border top left repeat-x;
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content div.pagination {
  text-align: center;
  font-size: .95em;
  position: relative;
  background: $img-border top left repeat-x;
  padding: {top: 1.5em; bottom: 1.5em;}
  a {
    text-decoration: none;
    color: $text-color-light;
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
    &:hover { color: $link-color-hover; }
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }
    }
  }
}

h1.entry-title{
  font-size: 1.8em;
}

.entry-content{
  h1 {
    font-size: 1.7em;
  }
  h2, section h1 {
    font-size: 1.5em;
  }
  h3, section h2, section section h1 {
    font-size: 1.3em;
  }
  h4, section h3, section section h2, section section section h1 {
    font-size: 1.2em;
  }
  h5, section h4, section section h3 {
    font-size: 1.1em;
  }
  h6, section h5, section section h4, section section section h3 {
    font-size: 1.0em;
  }
}

.posts {
  margin-top: 0.5em;

  > li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
    border-bottom: 1px solid $sidebar-border;
    @extend .side-shadow-border;
    p:last-child {
      margin-bottom: 0;
    }
    &.index_click_box {
      margin-top: 0.5em;
    }
  }
}

.breadcrumbs {
  margin: 0;
  > li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    a {
      white-space: normal;
    }
  }
  .breadcrumbs_separator {
    font-weight: bolder;
  }
}
