body > nav {
  position: relative;
  background-color: $nav-bg;
  @include background($nav-bg-front, $nav-bg-back);
  border: {
    top: 1px solid $nav-border-top;
    bottom: 1px solid $nav-border-bottom; }
  padding-top: .35em;
  padding-bottom: .35em;
  font-size: .85em;
  form {
    @include background-clip(padding-box);
    margin: 0; padding: 0;
    .search {
      padding: .3em .5em 0;
      font-size: .85em;
      font-family: $sans;
      line-height: 1.1em;
      width: 95%;
      @include border-radius(.5em);
      @include background-clip(padding-box);
      @include box-shadow(lighten($nav-bg, 2) 0 1px);
      background-color: lighten($nav-bg, 15);
      border: 1px solid $nav-border;
      color: #888;
      &:focus {
        color: #444;
        border-color: #80b1df;
        @include box-shadow(#80b1df 0 0 4px, #80b1df 0 0 3px inset);
        background-color: #fff;
        outline: none;
      }
    }
  }
  fieldset[role=search]{ float: right; width: 48%; }
  fieldset.mobile-nav{ float: left; width: 48%;
    select{ width: 100%; font-size: .8em; border: 1px solid #888;}
  }
  ul {
    font-size: .85em;
    @include horizontal-list(0);
    //float: left;
    margin-left:auto;
    margin-right:auto;
    display: block;
    padding-top: .15em;
  }
  ul.subscription {
    margin-left: .8em;
    float: right;
    li:last-child a { padding-right: 0; }
  }
  ul li {
    margin: 0;
  }
  form {
    //float: right;
    //text-align: left;
    //padding-left: .8em;
    //width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium + 20px;
    .search {
      width: 93%;
      font-size: .95em;
      line-height: 1.2em;
      width: 20em;
    }
  }
  ul[data-subscription$=email] + form {
    width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium - 58px;
    .search { width: 91%; }
  }
  fieldset.mobile-nav { display: none; }
  fieldset[role=search]{ width: 99%; }

  a {
    font-size: 1.2em;
    @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
    font-family: $sans;
    //text-shadow: lighten($nav-bg, 12) 0 1px;
    //float: left;
    text-decoration: none;
    padding: .1em 0;
    line-height: 1.1em;
  }
  li + li {
    border-left: 1px solid $nav-border-left;
    margin-left: .8em;
    a {
      padding-left: .8em;
      border-left: 1px solid $nav-border-right;
    }
  }

  img.feedly {
    width: 35px;
    height: 35px;
    margin-bottom: -5px;
  }

  span {
    white-space: nowrap;
  }
}
.no-placeholder {
  body > nav .search {
    background: lighten($nav-bg, 15) image-url('search.png') .3em .25em no-repeat;
    text-indent: 1.3em;
  }
}
@mixin mask-subscription-nav($feed: 'rss.png'){
  position: relative; top: 0px;
  text-indent: -999999em;
  background-color: $nav-border-right;
  border: 0;
  padding: 0;
  &,&:after { @include mask-image($feed); }
  &:after {
    content: "";
    position: absolute; top: -1px; left: 0;
    background-color: lighten($nav-color, 25);
  }
  &:hover:after { background-color: lighten($nav-color, 20); }
}
.maskImage {
  body > nav {
    ul[data-subscription$=email] + form {
      width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium - 32px;
    }
  }
  ul.subscription { position: relative; top: .2em; li, a { border: 0; padding: 0; }}
  a[rel=subscribe-rss]{ @include mask-subscription-nav('rss.png'); }
  a[rel=subscribe-email]{ @include mask-subscription-nav('email.png'); }
}

.main-navigation {
  text-align: center;

  // google search (from adsense)
  #cse-search-box {
    margin: 0 auto;
    float: none;
    padding: 0;
    width: 220px;

    div {
      height: 28px;
      padding: 0;
      width: 220px;
      border-radius: 10px;
      background-color: #ffffff;
      border: solid 2px darken($nav-bg, 15);
    }
    input[type="text"] {
      border: none !important;
      font-size: 14px;
      width: 180px;
      height: 20px;
      padding: 0;
      margin: 3px 0 0 5px;
      &:focus {
        outline: 0;
      }
    }
    input[type="submit"] {
      font-family: FontAwesome;
      font-size: 14px;
      color: darken($nav-bg, 20);
      border: none;
      height: 20px;
      margin: 0;
      overflow: hidden;
      /*text-indent: -9999px;*/
      width: 20px;
      position: relative;
      background-color: #ffffff;
      &:hover {
        cursor: pointer;
      }
    }
  }

  // custom search
  form.gsc-search-box {
    margin: 0 auto !important;
    padding: 0 !important;
    float: none !important;
    height: 28px !important;
    width: 220px !important;
    border-radius: 10px !important;
    border: solid 2px darken($nav-bg, 15) !important;
    background-color: #ffffff !important;
  }

  .cse table.gsc-search-box td.gsc-input, table.gsc-search-box td.gsc-input {
    padding-right: 0px !important;
  }
  .cse input.gsc-input, input.gsc-input {
    border: none !important;
    font-size: 14px !important;
    width: 190px !important;
    height: 20px !important;
    padding: 0 !important;
    margin: 3px 0 0 5px !important;
    &:focus {
      outline: 0 !important;
    }
  }
  .cse input.gsc-search-button, input.gsc-search-button {
    //display: none !important;
    font-family: FontAwesome !important;
    font-size: 14px !important;
    font-weight: normal !important;
    color: darken($nav-bg, 20) !important;
    border: none !important;
    height: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    /*text-indent: -9999px !important;*/
    width: 20px !important;
    min-width: 0px !important;
    position: relative !important;
    background-color: #ffffff !important;
    &:hover {
      cursor: pointer !important;
    }
  }
  div.gsc-clear-button {
    display: none !important;
  }

  .gsc-results-wrapper-overlay {
    background: $nav-bg !important;
  }

  .gsc-table-result {
    tr, th, td {
      background-color: $nav-bg;
    }
    tr {
      border: darken($nav-bg, 20);
    }
    th, td {
      border-color: none;
    }
  }

  .cse .gsc-control-cse, .gsc-control-cse {
    background-color: $nav-bg !important;
    border: 1px solid $nav-bg !important;
    padding: 0;
  }
  .cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-imageResult-column, .gsc-imageResult-classic {
     border: 1px solid $nav-bg !important;
  }
  .cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result.gsc-promotion:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
     border: 1px solid $nav-color !important;
  }

  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    border-color: $nav-bg;
    background-color: $nav-bg;
  }
  .gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
    border-color: $nav-bg;
    background-color: $nav-bg;
  }
  .gsc-webResult.gsc-result.gsc-promotion:hover {
    border-color: $nav-bg;
    background-color: $nav-bg;
  }
  .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b  {
    color: $nav-color;
    b {
      font-weight: bold;
    }
  }
  .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: $nav-color;
    b {
      font-weight: bold;
    }
  }
  .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
    color: $nav-color-hover;
    b {
      font-weight: bold;
    }
  }
  .gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
    color: $nav-color-hover;
    b {
      font-weight: bold;
    }
  }
  .gsc-cursor-page {
    color: $nav-color;
  }
  a.gsc-trailing-more-results:link {
    color: $nav-color;
  }
  .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: $nav-color;
  }
  .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: $nav-color;
  }
  .gs-webResult div.gs-visibleUrl-short {
    color: $nav-color;
  }
  .gs-webResult div.gs-visibleUrl-short  {
    display: none;
  }
  .gs-webResult div.gs-visibleUrl-long {
    display: block;
  }
  .gs-promotion div.gs-visibleUrl-short {
    display: none;
  }
  .gs-promotion div.gs-visibleUrl-long  {
    display: block;
  }
  .gsc-cursor-box {
    border-color: $nav-bg;
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: $nav-bg;
    background-color: $nav-bg;
    color: $nav-color;
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: $nav-color;
    background-color: $nav-color;
    color: $nav-bg;
  }
  .gsc-webResult.gsc-result.gsc-promotion {
    border-color: #CCCCCC;
    background-color: #E6E6E6;
  }
  .gsc-completion-title {
    color: $nav-color;
  }
  .gsc-completion-snippet {
    color: $nav-color;
  }
  .gs-promotion a.gs-title:link,.gs-promotion a.gs-title:link *,.gs-promotion .gs-snippet a:link  {
    color: $link-color;
  }
  .gs-promotion a.gs-title:visited,.gs-promotion a.gs-title:visited *,.gs-promotion .gs-snippet a:visited {
    color: $link-color;
  }
  .gs-promotion a.gs-title:hover,.gs-promotion a.gs-title:hover *,.gs-promotion .gs-snippet a:hover  {
    color: $nav-color-hover;
  }
  .gs-promotion a.gs-title:active,.gs-promotion a.gs-title:active *,.gs-promotion .gs-snippet a:active {
    color: $nav-color-hover;
  }
  .gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
    color: $link-color;
    &:hover{
      color: $nav-color-hover;
    }
  }
  .gs-promotion .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short  {
    color: $link-color;
    &:hover{
      color: $nav-color-hover;
    }
  }

  // translation
  .goog-te-gadget {
     text-align:center;
  }
  div#google_translate_element div.goog-te-gadget-simple {
    background-color: #ffffff !important;
    padding: 3px !important;
    border-radius: 10px !important;
    border: solid 2px darken($nav-bg, 15) !important;
  }
  div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span {
    font-size: 14px !important;
    color: darken($nav-bg, 30) !important;
  }
  div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:hover {
    color: darken($nav-bg, 100) !important;
  }

}
