.sharing {
  @extend .group;
  margin-bottom:20px;
  ul li {
    display: block;
    float: left;
    margin-right: 5px;
    //border: 1px solid;
    height: 25px;
    .hatebu {
      //width: 90px;
    }
    .twitter {
      width: 90px;
    }
    .googleplus {
      width: 58px;
    }
    .facebook {
      //width: 100px;
    }
    .facebook_share {
      //width: 100px;
    }
    div.facebook_share {
      margin-top: -4px;
    }
    #fb-root { display: none; }
    .pocket {
      width: 90px;
    }
    .bookmark {
      //width: 100px;
    }
    div.bookmark {
      margin-top: -4px;
    }
    .tumblr {
      //width: 60px;
    }
    a.tumblr_button {
      display: inline-block;
      text-indent: -9999px;
      overflow: hidden;
      height:20px;
      //background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent; withd: 81px;
      //background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent; width: 61px;
      background:url('http://platform.tumblr.com/v1/share_2T.png') top left no-repeat transparent; width: 61px;
    }
  }
}
