.sharing {
  @extend .group;
  margin-bottom:20px;
  ul li {
    display: block;
    float: left;
    margin-right: 5px;
  }
}
li.hatebu {
  width: 60px;
}
li.twitter {
  width: 80px;
}
li.googleplus {
  width: 65px;
}
li.facebook {
  width: 100px;
}
#fb-root { display: none; }
li.pocket {
  width: 90px;
}
li.bookmark {
  width: 100px;
  margin-top: -2px;
}
