div.social_box {
    height: 30px;
    line-height: 15px;
}
ul.social li {
    display: block;
    float: left !important;
    margin-right: 10px;
}
li.twitter {
    width: 80px;
    height: 21px;
    line-height: 15px;
}
li.hatebu {
    width: 70px;
    height: 21px;
    line-height: 15px;
}
li.googleplus {
    width: 60px;
    height: 21px;
    line-height: 15px;
}
li.facebook {
    list-style-type: none;
    float: left !important;
    border: none;
    overflow: hidden;
    width: 100px;
    height: 21px;
    line-height: 15px;
}
li.pocket {
    width: 90px;
    height: 21px;
    line-height: 15px;
}
li.bookmark {
    width: 130px;
    height: 21px;
    line-height: 15px;
}
