.highlight {
  td {
    &.code, &.line-data {
      width: 100%;
      background: $code-mainbg;
      border: 0px;
    }
  }
  border: 0px solid $pre-border !important;
}

.highlight .line-numbers {
  text-align: right;
  background: $code-subbg $noise-bg !important;
  border-right: 1px solid darken($code-mainbg, 2) !important;
  @include box-shadow(lighten($code-subbg, 2) -1px 0 inset);
  text-shadow: darken($code-subbg, 10) 0 -1px;
  span { color: $code-subcolor !important; }
  padding: .8em !important;
  @include border-radius(0);
}

figure.code .highlight .line-numbers {
  font-size: $code-font-size;
  line-height: $code-line-height;
}

figure.code, .gist-file, pre {
  @include box-shadow(rgba(#000, .06) 0 0 1em);
  .highlight pre { @include box-shadow(none); }
}

.gist .highlight, figure.code .highlight {
  @include selection(adjust-color($code-mainbg, $lightness: -23%, $saturation: -65%), $text-shadow: $code-mainbg 0 1px);
}
html .gist .gist-file {
  font-size: $code-font-size !important;
  line-height: $code-line-height;
  margin-bottom: 1.8em;
  position: relative;
  border: 1px solid $pre-border !important;
  padding-top: image-height("code_bg.png") !important;
  .highlight {
    margin-bottom: 0;
  }
  .gist-syntax {
    border-border: 1px solid $pre-border !important;
    background: $code-mainbg !important;
    .gist-highlight {
      background: $code-mainbg !important;
    }
    .highlight pre {
      @extend .pre-code;
      font-size: 1.0em;
      padding: 0;
    }
  }
  .gist-meta {
   padding: .3em .8em;
   border: 1px solid lighten($code-subbg, 2) !important;
   color: $code-subcolor;
   //font-size: 1em !important;
   //line-height: $code-line-height;
   background: $code-subbg $noise-bg;
   @extend .sans;
    a {
      color: mix($code-color, $code-subcolor) !important;
      @include hover-link;
      &:hover { color: $code-color !important; }
    }
    a[href*='#file'] {
      position: absolute; top: 0; left:0; right:0em;
      color: #474747 !important;
      @extend .code-title;
      &:hover { color: $link-color !important; }
    }
    a[href*=raw]{
      @extend .download-source;
      top: 0.8em;
    }
  }
}
pre {
  background: $pre-bg $noise-bg;
  @include border-radius(.4em);
  @extend .mono;
  border: 1px solid $pre-border;
  line-height: $code-line-height;
  font-size: $code-font-size;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: $pre-color;
  overflow: auto;
}

.code pre {
  overflow: visible;
}

h3.filename {
  @extend .code-title;
  + pre { @include border-top-radius(0px); }
}

p, li, td{
  code {
    @extend .mono;
    display: inline-block;
    white-space: no-wrap;
    background: $code-mainbg;
    font-size: $code-font-size;
    line-height: 1.2em;
    color: $code-color;
    border: 1px solid $pre-border;
    @include border-radius(.4em);
    padding: 0 .3em;
    margin:  -0.1em 0.2em;
  }
  pre code { font-size: 1em !important; background: none; border: none; }
}

.pre-code {
  font-family: $mono !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em;
  overflow-x: auto;
  line-height: $code-line-height;
  background: $code-mainbg $noise-bg !important;
  color: $code-color !important;
  span { color: $code-color !important; }
  span { font-style: normal !important; font-weight: normal !important; }

  .c      { color: $code-comment !important; font-style: italic !important; }                     /* Comment */
  .cm     { color: $code-comment !important; font-style: italic !important; }                     /* Comment.Multiline */
  .cp     { color: $code-comment !important;}                     /* Comment.Preproc */
  .c1     { color: $code-comment !important; font-style: italic !important; }                     /* Comment.Single */
  .cs     { color: $code-comment !important; font-weight: bold !important; font-style: italic !important; }   /* Comment.Special */
  .err    { color: $code-error !important; background: none !important; }                                            /* Error */
  .k      { color: $code-variable !important; }                       /* Keyword */
  .o      { color: $code-operator !important; font-weight: bold !important; }                       /* Operator */
  .p      { color: $code-name !important; }                                             /* Operator */
  .ow     { color: $code-operator !important; font-weight: bold !important; }                       /* Operator.Word */
  .gd     { color: $code-diff0 !important; background-color: $code-diff0back !important; display: inline-block; }               /* Generic.Deleted */
  .gd .x  { color: $code-color !important; background-color: mix($code-error, $code-mainbg, 35%) !important; display: inline-block; }               /* Generic.Deleted.Specific */
  .ge     { color: $code-color !important; font-style: italic !important; }                      /* Generic.Emph */
  //.gr     { color: #aa0000 }                                          /* Generic.Error */
  .gh     { color: $code-builtin !important; }                                          /* Generic.Heading */
  .gi     { color: $code-diff1 !important; background-color: $code-diff1back !important; display: inline-block; }               /* Generic.Inserted */
  .gi .x  { color: $code-color !important; background-color: mix($code-inserted, $code-mainbg, 40%) !important; display: inline-block; }               /* Generic.Inserted.Specific */
  //.go     { color: #888888 }                                          /* Generic.Output */
  //.gp     { color: #555555 }                                          /* Generic.Prompt */
  .gs     { color: $code-color !important; font-weight: bold !important; }                                       /* Generic.Strong */
  .gu     { color: $code-subheading !important; }                                          /* Generic.Subheading */
  //.gt     { color: #aa0000 }                                          /* Generic.Traceback */
  .kc     { color: $code-builtin !important; font-weight: bold !important; }                       /* Keyword.Constant */
  .kd     { color: $code-variable !important; }                       /* Keyword.Declaration */
  .kp     { color: $code-builtin !important;}                       /* Keyword.Pseudo */
  .kr     { color: $code-reserved !important; font-weight: bold !important; }                       /* Keyword.Reserved */
  .kt     { color: $code-operator !important; }                       /* Keyword.Type */
  .kn     { color: $code-operator !important; }                       /* Keyword.Name */
  .n      { color: $code-name !important; }
  .na     { color: $code-attribute !important; }                                          /* Name.Attribute */
  .nb     { color: $code-builtin !important; }                                          /* Name.Builtin */
  .nc     { color: $code-reserved !important;}                                                   /* Name.Class */
  .no     { color: $code-builtin !important; }                                          /* Name.Constant */
  //.ni     { color: #800080 }                                          /* Name.Entity */
  .nl     { color: $code-builtin !important; }
  .ne     { color: $code-variable !important; font-weight: bold !important; }                       /* Name.Exception */
  .nf     { color: $code-function !important; }                       /* Name.Function */
  .nn     { color: $code-name !important; }                                          /* Name.Namespace */
  .nt     { color: $code-nametag !important; font-weight: bold !important; }                                          /* Name.Tag */
  .nx     { color: $code-attribute iImportant; }
  .bp     { color: $code-builtin !important; }                                          /* Name.Builtin.Pseudo */
  //.vc     { color: #008080 }                                          /* Name.Variable.Class */
  .vg     { color: $code-variable !important; }                                          /* Name.Variable.Global */
  .vi     { color: $code-variable !important; }                                          /* Name.Variable.Instance */
  .nv     { color: $code-variable !important; }                                          /* Name.Variable */
  //.w      { color: #bbbbbb }                                          /* Text.Whitespace */
  .mf     { color: $code-literal !important; }                                          /* Literal.Number.Float */
  .m      { color: $code-literal !important; }                                          /* Literal.Number */
  .mh     { color: $code-literal !important; }                                          /* Literal.Number.Hex */
  .mi     { color: $code-builtin !important; }                                          /* Literal.Number.Integer */
  //.mo     { color: #009999 }                                          /* Literal.Number.Oct */
  .s      { color: $code-literal !important; }                                             /* Literal.String */
  //.sb     { color: #d14 }                                             /* Literal.String.Backtick */
  //.sc     { color: #d14 }                                             /* Literal.String.Char */
  .sd     { color: $code-literal !important; }                                             /* Literal.String.Doc */
  .s2     { color: $code-literal !important; }                                             /* Literal.String.Double */
  .se     { color: $code-error !important; }                                             /* Literal.String.Escape */
  //.sh     { color: #d14 }                                             /* Literal.String.Heredoc */
  .si     { color: $code-interpol !important; }                                             /* Literal.String.Interpol */
  //.sx     { color: #d14 }                                             /* Literal.String.Other */
  .sr     { color: $code-literal !important; }                                          /* Literal.String.Regex */
  .s1     { color: $code-literal !important; }                                             /* Literal.String.Single */
  .ss     { color: $code-builtin !important;}                                          /* Literal.String.Symbol */
  //.il     { color: #009999 }                                          /* Literal.Number.Integer.Long */
  .line     { color: $code-name !important; }
  div { .gd, .gd .x, .gi, .gi .x { display: inline-block; width: 100%; }}
}

.highlight, .gist-highlight {
  pre { background: none; @include border-radius(0px); border: none; padding: 0; margin-bottom: 0; }
  margin-bottom: 1.8em;
  background: $code-mainbg;
  overflow-y: hidden;
  overflow-x: auto;
}

$code-scroll-bg: $code-mainbg;
$code-scroll-thumb: $code-subbg;

pre, .highlight, .gist-highlight {
  &::-webkit-scrollbar {  height: .5em; background: $code-scroll-bg; }
  &::-webkit-scrollbar-thumb:horizontal { background: $code-scroll-thumb;  -webkit-border-radius: 0.5em; border-radius: 0.5em }
}

.highlight code {
  @extend .pre-code; background: #000;
}
figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
  pre { margin-bottom: 0; }
  figcaption {
    position: relative;
    @extend .code-title;
    a { @extend .download-source; }
  }
  .highlight {
    margin-bottom: 0;
  }
}

.code-title {
  text-align: center;
  font-size: $code-font-size;
  line-height: 2.5*$code-font-size;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  @include border-top-radius(0.5em);
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #aaaaaa image-url("code_bg.png") top repeat-x;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

.download-source {
  position: absolute; right: 1.0em;
  @include hover-link;
  color: #666 !important;
  z-index: 1;
  font-size: $code-font-size;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em;
}
