// utilities using color, size or etc... defined in base

$icon-link-btn-font-size: 2em !default;
$icon-link-btn-height: 1.2 !default;
i.icon-link-btn {
  font-size: $icon-link-btn-font-size;
  line-height: $icon-link-btn-height;
  text-decoration: none;
}
.link_btn {
  background-color:$nav-bg;
  padding:2px;
  padding-left:5px;
  padding-right:5px;
  position:relative;
  text-decoration:none;
  //color:$nav-bg;
  border: solid 2px darken($nav-bg, 15);
  border-radius: 10px;
}

.link_btn:active {
  padding-bottom:1px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  top:1px;
}

.link_btn::before {
  background-color:$nav-bg;
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  padding:1px;
  left:-1px;
  top:-1px;
  z-index:-1;
  border-radius: 10px;
}
