.side-shadow-border {
  @include box-shadow(lighten($sidebar-bg, 5) 0 1px);
}
aside.sidebar {
  overflow: hidden;
  color: $sidebar-color;
  text-shadow: lighten($sidebar-bg, 8) 0 1px;
  a { @extend .force-wrap; }
  section {
    @extend .sans;
    font-size: .8em;
    line-height: 1.4em;
    margin-bottom: 1.5em;
    h2 {
      font-size: 1.5em;
      line-height-size: 1.2em;
      margin: 1.5em 0 0;
      padding-bottom: .2em;
      border-bottom: 1px solid $sidebar-border;
      @extend .side-shadow-border;
      + p {
        padding-top: .4em;
      }
    }
    &:hover a {
      @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $visited: $sidebar-link-color-visited, $active: $sidebar-link-color-active);
    }
  }
  img {
    @extend .flex-content;
    @extend .basic-alignment;
  }
  ul {
    margin-bottom: 0.5em;
    margin-left: 0;
  }
  li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
    border-bottom: 1px solid $sidebar-border;
    @extend .side-shadow-border;
    p:last-child {
      margin-bottom: 0;
    }
    &.index_click_box {
      margin-top: 0.5em;
    }
  }
  a {
    color: inherit;
    @include transition(color .5s);
  }
  .sidebar-about {
    line-height: 3.1em;
    margin: 0 0.4em 0.5em 0.2em;
    .fa-rss {
      margin-left: 0.2em;
    }
  }
  .feedly {
    // with image
    //width: 30px;
    //height: 30px;
    //margin-bottom: -5px;
    //margin: 0em 0.2em -5px 0.2em;

    // with css background
    padding-top: 14px;
    padding-right: 32px;
    background-size: 30px 30px;
    margin: 0 0.3em 0 0.2em;
  }
  .amazon-img {
    @extend .title-small-thumbnail;
  }
}

#aboutme-logo {
  float: left;
  width: 2*$icon-link-btn-height*$icon-link-btn-font-size + 0.5em;
  height: 2*$icon-link-btn-height*$icon-link-btn-font-size + 0.5em;
  margin: 0.2em 0.2em 0 0.2em;

  background-size: contain;
}

#tag-cloud {
  font-size: 0.8em;
  a {
    margin: 2px;
    line-height: 30px;
  }
}

.aside-alt-link {
  color: $sidebar-link-color-subdued;
  &:hover {
    color: $sidebar-link-color-subdued-hover;
  }
}

@if $sidebar-remain == false {
  @media only screen and (min-width: 768px) {
    .toggle-sidebar {
      outline: none;
      position: absolute; right: -10px; top: 0; bottom: 0;
      display: inline-block;
      text-decoration: none;
      color: mix($text-color-light, $sidebar-bg);
      width: 9px;
      cursor: pointer;
      &:hover {
        background: mix($sidebar-border, $sidebar-bg);
        @include background(linear-gradient(left, rgba($sidebar-border, .5), rgba($sidebar-border, 0)));
      }
      &:after {
        position: absolute; right: -11px; top: 0;
        width: 20px;
        font-size: 1.2em;
        line-height: 1.1em;
        padding-bottom: .15em;
        @include border-bottom-right-radius(.3em);
        text-align: center;
        background: $main-bg;
        border-bottom: 1px solid $sidebar-border;
        border-right: 1px solid $sidebar-border;
        content: "\00BB";
        text-indent: -1px;
      }
      .collapse-sidebar & {
        text-indent: 0px;
        right: -20px;
        width: 19px;
        &:hover {
          background: mix($sidebar-border, $sidebar-bg);
        }
        &:after {
          border-left: 1px solid $sidebar-border;
          text-shadow: #fff 0 1px;
          content: "\00AB";
          left: 0px; right: 0;
          text-align: center;
          text-indent: 0;
          border: 0;
          border-right-width: 0;
          background: none;
        }
      }
    }
  }
}
