{% if site.google_analytics_tracking_id or page.sharing != false or (site.disqus_short_name and page.comments != false) or (site.linkwithin_show == true and page.footer != false or site.google_translate_lang %}
<script type="text/javascript">
{% if site.google_translate_layout and page.translate != false %}
{% capture analytics %}{% if site.google_analytics_tracking_id %}, gaTrack: true, gaId: '{{site.google_analytics_tracking_id}}'{% endif %}{% endcapture %}
{% capture layout %}{% if site.google_translate_layout == 'SIMPLE' %}InlineLayout.SIMPLE{% else %}FloatPosition.{{site.google_translate_layout}}{% endif %}{% endcapture %}
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: '{{site.google_translate_lang}}', layout: google.translate.TranslateElement.{{layout}}, autoDisplay: false, multilanguagePage: true{{analytics}}}, 'google_translate_element');
}
</script>
<script type="text/javascript">
{% endif %}
(function (w, d) {
  var j, s = d.getElementsByTagName('script')[0],
  a = function (u, i) {
    if (!d.getElementById(i)) {
      j = d.createElement('script');
      j.src = u;
      if (i) {j.id = i;}
      s.parentNode.insertBefore(j, s);
    }
  };
  {% if site.google_analytics_tracking_id %}
  w._gaq = w._gaq || [];
  var pluginUrl =
      '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  w._gaq.push(['_setAccount', '{{site.google_analytics_tracking_id}}']);
  w._gaq.push(['_trackPageview']);
  a(('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js', 'ga');
  {% endif %}
  {% if site.twitter_follow_button or site.twitter_tweet_button %}
  a('//platform.twitter.com/widgets.js', 'twitter-wjs');
  {% endif %}
  {% if site.hatena_button %}
  a('//b.st-hatena.com/js/bookmark_button.js','hatebu-js');
  {% endif %}
  {% if site.google_plus_one %}
  {% if site.google_plus_one_lang %}
  w.___gcfg={lang:'{{site.google_plus_one_lang}}'};
  {% endif %}
  a('//apis.google.com/js/plusone.js','plusone-js');
  {% endif %}
  {% if site.facebook_like or site.facebook_share %}
  a('//connect.facebook.net/{% if site.facebook_lang %}{{ site.facebook_lang }}{% else %}en_US{% endif %}/sdk.js#{% if site.facebook_app_id %}appId={{ site.facebook_app_id }}&{% endif %}xfbml=1&version=v2.0','facebook-jssdk');
  {% endif %}
  {% if site.pocket_button %}
  a('//widgets.getpocket.com/v1/j/btn.js?v=1','pocket-btn-js');
  {% endif %}
  {% if site.tumblr_button %}
  a('//platform.tumblr.com/v1/share.js','tumblr-share-js');
  {% endif %}
  {% if site.linkwithin_show == true and page.footer != false %}
  a('//www.linkwithin.com/widget.js','linkwithin-wjs');
  {% endif %}
  {% if site.disqus_short_name and page.comments != false %}
  var disqus_shortname = '{{ site.disqus_short_name }}';
  var disqus_script = '';
  {% if page.comments == true %}
  var disqus_identifier = '{{ site.url }}{{ page.url }}';
  var disqus_url = '{{ site.url }}{{ page.url }}';
  disqus_script = 'embed.js';
  {% elsif site.disqus_short_name and site.disqus_show_comment_count == true %}
  disqus_script = 'count.js';
  {% endif %}
  a('//'+disqus_shortname+'.disqus.com/'+disqus_script);
  {% endif %}
  {% if site.google_translate_layout and page.translate != false %}
  a('//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit','translate-js');
  {% endif %}
})(this, document);
</script>
{% endif %}
{% include custom/after_footer.html %}
