{% if post %}
  {% assign p = post %}
{% else %}
  {% assign p = page %}
{% endif %}
{% unless page.no_header %}
<header>
  {% unless page.meta == false %}
  <div class="meta">
    {% if p.date_text %}<time itemprop='datePublished' datetime='{{p.date_xml}}'><span class='time'>{{ p.date_text }}</span>{% endif %}
    {% include post/breadcrumbs.html %}
  </div>
  {% endunless %}
  {% unless post %}
  {% if site.zenback_show == true and page.comments == true %}
  <!-- zenback_title_begin -->
  {% endif %}
  {% endunless %}
  <h1 class="entry-title" itemprop="name headline"><a href="{{root_url}}{{p.url}}" itemprop="url">{% if site.titlecase %}{{ p.title | titlecase }}{% else %}{{ p.title }}{% endif %}</a></h1>
  {% unless post %}
  {% if site.zenback_show == true and page.comments == true %}
  <!-- zenback_title_end -->
  <!-- zenback_date {{page.date}}-->
  {% endif %}
  {% endunless %}
</header>
{% endunless %}
{% capture ref_url %}{{ p.ref_url }}{% endcapture %}
{% capture ref_title %}{{ p.ref_title }}{% endcapture %}
{% if ref_url != "" %}
<a href="{{ref_url}}"><i class="fa fa-language"></i> {{ref_title}}</a>
{% endif %}
{% unless page.sharing == false %}
{% unless site.share_official == false %}
{% include post/sharing.html %}
{% endunless %}
{% if site.share_custom == true %}
{% include post/sharing_custom.html %}
{% endif %}
{% endunless %}
{% if post %}
<div class="entry-content index_click_box" itemprop="articleBody">
  <div class="group" itemprop="description">
    {% capture content_with_thumb %}
      {% if p.ogimage and p.no_ogimage != true %}
      <div class="titlle-thumbnail-wrap">
        <div class="title-thumbnail">
          {%thumbnail square-thumbnail val:post.ogimage%}
        </div>
      </div>
      {% endif %}
      {{ content }}
    {% endcapture %}
    {{ content_with_thumb | excerpt }}
    {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %}
    <a class="click_box_link" href="{{root_url}}{{p.url}}">{{site.excerpt_link}}</a>
    {% endif %}
  </div>
</div>
{% else %}
{% if site.zenback_show == true and page.comments == true %}
<!-- zenback_body_begin -->
{% endif %}
<div class="entry-content" itemprop="articleBody">
  <div class="group" itemprop="description">
    {% capture content_with_thumb %}
      {% if p.ogimage and p.no_ogimage != true %}
      <div class="title-thumbnail">
        {%thumbnail square-thumbnail val:p.ogimage%}
      </div>
      {% endif %}
      {{ content }}
    {% endcapture %}
    {{ content_with_thumb | excerpt }}
  </div>
  <!-- more -->
  <div class="group">
    {{ content | excerpt_after }}
    {% include custom/endofcontent.html %}
  </div>
</div>
<!-- </div><footer> * pseudo line for the function raw_content() -->
{% if site.zenback_show == true and p.comments == true %}
<!-- zenback_body_end -->
{% endif %}
{% endif %}
