<script>
(function (d) {
  var j, s = d.getElementsByTagName('script')[0];
  a = function (u, i) {
    if (!d.getElementById(i)) {
      j = d.createElement('link');
      j.rel = 'stylesheet';
      j.href = u;
      if (i) {j.id = i;}
      s.parentNode.insertBefore(j, s);
    }
  };
  {%if site.fontawesome_version%}
  a("//maxcdn.bootstrapcdn.com/font-awesome/{{site.fontawesome_version}}/css/font-awesome.min.css","font-awesome-css");
  {%endif%}
  {%comment%}
  a("{{root_url}}/stylesheets/screen.css","screen-css");
  {%endcomment%}
})(document);
</script>
{% if site.google_analytics_tracking_id %}
<script>
  window.GoogleAnalyticsObject = 'ga';
  if (!('ga' in window)){
    ga = function(){
      ga.q.push(arguments);
    };
  }
  ga.l = (new Date()).getTime();
  ga.q = [['create', '{{site.google_analytics_tracking_id}}', 'auto'], ['send', 'pageview'], ['require', 'linkid', 'linkid.js']];
</script>
<script src="//www.google-analytics.com/analytics.js" async defer></script>
{%endif%}
{% if site.google_translate_layout and page.translate != false %}
<script>
  {% capture analytics %}{% if site.google_analytics_tracking_id %}, gaTrack: true, gaId: '{{site.google_analytics_tracking_id}}'{% endif %}{% endcapture %}
  {% capture layout %}{% if site.google_translate_layout == 'SIMPLE' %}InlineLayout.SIMPLE{% else %}FloatPosition.{{site.google_translate_layout}}{% endif %}{% endcapture %}
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: '{{site.google_translate_lang}}', layout: google.translate.TranslateElement.{{layout}}, autoDisplay: false, multilanguagePage: true{{analytics}}}, 'google_translate_element');
  }
</script>
  {%comment%}<script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit' async defer></script>{% endcomment %}
  <script src='{{root_url}}/javascripts/translate/element.js' async defer></script>
{% endif %}
{% unless site.affiliate == false or page.affiliate == false %}
  {% if site.sponsored_links %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% if site.adsense_page_level_ads %}
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-{{site.adsense_page_level_ads}}",
        enable_page_level_ads: true
      });
    </script>
    {% endif %}
  {% endif %}
  {% if site.linkplaza_key %}<script src='//static.linkplaza.jp/api/replace.js?key={{site.linkplaza_key}}' async defer></script>{% endif %}
{% endunless %}
{% if site.twitter_follow_button or site.twitter_button or site.twitter_search%}{% unless site.twitter_only_page == true and page.twitter != true %} <script src='//platform.twitter.com/widgets.js' async defer></script>{%endunless%}{% endif %}
{% unless site.share_official == false %}
  {% if site.hatebu_button %}<script src='//b.st-hatena.com/js/bookmark_button.js' async defer></script>{% endif %}
  {% if site.googleplus_button %}{% if site.google_plus_one_lang %}<script>window.___gcfg={lang:'{{site.google_plus_one_lang}}'};</script>{% endif %}<script src='//apis.google.com/js/plusone.js' async defer></script>{% endif %}
  {% if site.facebook_like or site.facebook_button %}<script src='//connect.facebook.net/{% if site.facebook_lang %}{{ site.facebook_lang }}{% else %}en_US{% endif %}/sdk.js#{% if site.facebook_app_id %}appId={{ site.facebook_app_id }}&{% endif %}xfbml=1&version=v2.0' async defer></script>{% endif %}
  {% if site.pocket_button %}<script src='//widgets.getpocket.com/v1/j/btn.js?v=1' async defer></script>{% endif %}
  {% if site.linkedin_button %}<script src='//platform.linkedin.com/in.js' async defer></script>{% endif %}
  {% if site.stumble_button %}<script src='//platform.stumbleupon.com/1/widgets.js' async defer></script>{% endif %}
  {% if site.pinterest_button %}<script src='//assets.pinterest.com/js/pinit.js' async defer></script>{% endif %}
  {% if site.tumblr_button %}<script src='//platform.tumblr.com/v1/share.js' async defer></script>{% endif %}
{% endunless %}
{% if site.disqus_short_name %}
  {% if page.comments == true %}
  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <script>
  var disqus_shortname = '{{ site.disqus_short_name }}';
  var disqus_identifier = '{{canonical}}';
  var disqus_url = '{{canonical}}';
  </script>
  <script src='//{{site.disqus_short_name}}.disqus.com/embed.js' async defer></script>
  {% elsif site.disqus_show_comment_count and page.disqus_show_comment_count %}
  <script src='//{{site.disqus_short_name}}.disqus.com/count.js' async defer></script>
  {% endif %}
{% endif %}
{% if site.linkwithin_show == true and page.footer != false %}
  <script>
  var linkwithin_site_id = {{site.linkwithin_id}};
  var linkwithin_text='{{site.linkwithin_text}}';
  </script>
  <script src="//www.linkwithin.com/widget.js" async defer></script>
{% endif %}
{% unless site.affiliate == false or page.affiliate == false %}
  {% if site.amazon_ad_tag and site.amazon_link_enhancement_widget %}
  <script type="text/javascript">
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "{{site.amazon_ad_tag}}";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "{{site.amazon_region}}";
  </script>
  <script src="//z-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace={{site.amazon_region}}" async defer></script>
  {% endif %}
{% endunless %}


{%comment%}jQuery{%endcomment%}
{%if site.jquery_ie8_version%}
  <!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/{{jquery_ie8_version}}/jquery.min.js" defer></script>
  <![endif]-->
  {%endif%}
{%if site.jquery_version%}
  <!--[if gte IE 9]><!-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/{{site.jquery_version}}/jquery.min.js" defer></script>
  <!--<![endif]-->
{%endif%}
{%comment%}
<script>!window.jQuery && document.write(unescape('%3Cscript src="{{root_url}}/javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
{%endcomment%}
<script src="{{root_url}}/javascripts/all.js" defer></script>
{%comment%}
compressed and combined to all.js
<script src="{{root_url}}/javascripts/footnote.js" defer></script>
<script src="{{root_url}}/javascripts/jquery.githubRepoWidget.min.js" defer></script>
<script src="{{root_url}}/javascripts/monthly_archive.js" defer></script>
<script src="{{root_url}}/javascripts/random-posts.js" defer></script>
<script src="{{root_url}}/javascripts/utils.js" defer></script>
{%endcomment%}
{%if site.scrolltop%}<script src="{{root_url}}/javascripts/scrolltopcontrol.js" defer></script>{%endif%}
{%if site.n_scroll_fixed > 0%}
  <script src="{{root_url}}/javascripts/jquery.exflexfixed-0.3.0.js" defer></script>
  <script src="{{root_url}}/javascripts/n_sccroll_fixed.js" defer></script>
{%endif%}
{%unless site.share_static and page.share_check != true%}<script src="{{root_url}}/javascripts/share-custom.js" defer></script>{%endunless%}
{%if page.share_check%}<script src="{{root_url}}/javascripts/share-check.js" defer></script>{%endif%}
{% if site.google_custom_search == 'compact' %}
  {% include custom/google_search/compact.html %}
{% elsif site.google_custom_search == 'onlyresults' %}
  {% include custom/google_search/onlyresults.html %}
{% elsif site.google_custom_search == 'overlay_simple' %}
  {% include custom/google_search/overlay_simple.html %}
{% elsif site.google_custom_search == 'overlay_classic' %}
  {% include custom/google_search/overlay_classic.html %}
{% elsif site.google_custom_search == 'twolines' %}
  {% include custom/google_search/twolines.html %}
{% elsif site.google_custom_search == 'twopages' %}
  {% include custom/google_search/twopages.html %}
{% elsif site.google_search %}
  {% include custom/affiliate/google_search.html %}
{%endif%}
