<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="{{site.lang}}"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  {% capture description %}{{ description | strip_html | condense_spaces | truncate:150 }}{% endcapture %}
  <meta name="description" content="{{ description }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="{{ description }}">
  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <meta property="og:url" content="{{canonical}}" />
  {% assign ogimage = "" %}{% if site.sitelogo %}{% assign ogimage = site.sitelogo %}{% endif %}{% if page.ogimage %}{% assign ogimage = page.ogimage %}{% elsif page.content contains "<img " %}{%capture str%}{{page.content|newline_to_br|replace:" ","TMPSPACE"}}{%endcapture%}{%capture first_word%}{{str|split:"<imgTMPSPACE"|first}}<imgTMPSPACE{%endcapture%}{%capture str%}{{str|remove_first:first_word}}{%endcapture%}{%capture first_word%}{{str|split:'src="'|first}}src="{%endcapture%}{%capture str%}{{str|remove_first:first_word}}{%endcapture%}{%capture src%}{{str|split:'"'|first}}{%endcapture%}{%if src != ""%}{%assign ogimage = src%}{%endif%}{% endif %}
  {%assign imgpath="{{site.imgpath}}"%}
  {%capture ogimage%}{{ogimage|replace:imgpath,site.imgpath}}{%endcapture%}
  {%assign imgpath="{{ site.imgpath }}"%}
  {%capture ogimage%}{{ogimage|replace:imgpath,site.imgpath}}{%endcapture%}
  {%assign imgpath="site.imgpath"%}
  {%capture ogimage%}{{ogimage|replace:imgpath,site.imgpath}}{%endcapture%}
  {% if ogimage != "" %}
  {% unless ogimage contains "//" %}
  {% capture ogimage %}{{site.url}}{{ogimage}}{% endcapture %}
  {% endunless %}
  <meta property="og:image" content="{{ ogimage }}" />
  {% endif %}
  <meta property="og:site_name" content="{{site.title}}" />
  <meta property="fb:admins" content="{{site.facebook_admins_id}}" />
  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{% if page.url contains site.category_dir %}/{% endif %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{root_url}}/favicon.png" rel="icon">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{root_url}}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="{{site.subscribe_rss}}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  {% include custom/head.html %}
  <script src="{{root_url}}/javascripts/modernizr-2.0.js"></script>
  <script src="{{root_url}}/javascripts/ender.js"></script>
  <script src="{{root_url}}/javascripts/octopress.js"></script>
  <!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <![endif]-->
  <!--[if gte IE 9]><!-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  {%comment%}
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  {%endcomment%}
  <!--<![endif]-->
  <script>!window.jQuery && document.write(unescape('%3Cscript src="{{root_url}}/javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="{{root_url}}/javascripts/footnote.js"></script>
  {%if site.scrolltop%}<script src="{{root_url}}/javascripts/scrolltopcontrol.js"></script>{%endif%}
  {%if site.n_scroll_fixed > 0%}<script src="{{root_url}}/javascripts/jquery.exflexfixed-0.3.0.js"></script>{%endif%}
  <script src="{{root_url}}/javascripts/jquery.nailthumb.1.1.min.js"></script>
  <script src="{{root_url}}/javascripts/jquery.githubRepoWidget.min.js"></script>
  <script src="{{root_url}}/javascripts/monthly_archive.js"></script>
  {%if site.share_custom%}<script src="{{root_url}}/javascripts/shareCustom.js"></script>{%endif%}
  <script src="{{root_url}}/javascripts/utils.js"></script>
  {% include custom/licenses.html %}
</head>
