<div class="main-navigation">
  {% if site.nav_marks %}
  <p class="nav-marks">
    {% if site.email_mark %}
    <a href="mailto:{{site.email}}" title="Mail"><i class="fa fa-envelope fa-2x"></i></a>
    {% endif %}
    {% if site.twitter_mark %}
    <a href="//twitter.com/{{ site.twitter_user }}" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
    {% endif %}
    {% if site.facebook_mark %}
    <a href="//www.facebook.com/{{ site.facebook_user }}" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
    {% endif %}
    {% if site.google_plus_one_mark %}
    <a href="//plus.google.com/{{ site.googleplus_user }}" title="Google +1"><i class="fa fa-google-plus-square fa-2x"></i></a>
    {% endif %}
    {% if site.linkedin_mark %}
    <a href="//www.linkedin.com/profile/view?id={{ site.linkedin_user }}" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
    {% endif %}
    {% if site.github_mark %}
    <a href="//github.com/{{site.github_user}}" title="GitHub"><i class="fa fa-github-alt fa-2x"></i></a>
    {% endif %}
    {% if site.rss_mark %}
    <a href="{{root_url}}{{site.subscribe_rss}}" title="RSS"><i class="fa fa-rss fa-2x"></i></a>
    {% endif %}
    {% if site.feedly_mark %}
    <a class="feedly-link" href='//feedly.com/i/subscription/feed/{{site.url}}{{site.subscribe_rss}}' title="feedly"><span class="feedlyimg feedly"></span></a>
    {% endif %}
    {% if site.bookmark_mark %}
    <a href="#" class="add_bookmark" title="Favorite" data-page_title="{{site.title}}" data-page_url="{{site.url}}"><i class="fa fa-star-o fa-2x"></i></a>
    {% endif %}
  </p>
  {% endif %}
  {%if site.nav_links.size %}
  <p class="nav-links">
    {% for link in site.nav_links %}
      <span><a href="{{ link[0] }}" class="link_btn" >{{ link[1] }}</a></span>
    {% endfor %}
  </p>
  {%endif%}
  {% include custom/navigation.html %}
  {% if site.google_custom_search == 'compact' or site.google_custom_search == 'overlay' or site.google_custom_search == 'overlay_simple' or site.google_custom_search == 'overlay_classic' or site.google_custom_search == 'twolines' %}
  {% if site.google_search_pub %}
  <div id='cse' style='width: 100%;'>Loading</div>
  {% endif %}
  {% elsif site.google_custom_search == 'twopages' %}
  {% if site.google_search_pub %}
  <div id='cse-search-form' style='width: 100%;'>Loading</div>
  {% endif %}
  {% elsif site.google_search %}
  {% if site.google_search_pub %}
  <p>
    <form action="{{site.url}}{{site.google_result_page}}" id="cse-search-box">
      <div>
        <input type="hidden" name="cx" value="partner-pub-{{site.google_search_pub}}" />
        <input type="hidden" name="cof" value="FORID:10" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="{%if site.google_search_query%}{{site.google_search_query}}{%else%}q{%endif%}" size="30" />
        <input type="submit" name="sa" value="&#xf00e;" />
      </div>
    </form>
  </p>
  {% endif %}
  {% elsif site.simple_search %}
  <p>
    <form action="{{ site.simple_search }}" method="get">
      <fieldset role="search">
        <input type="hidden" name="sitesearch" value="{{ site.url | shorthand_url }}">
        <input class="search" type="text" name="q" results="0" placeholder="Search"/>
      </fieldset>
    </form>
  </p>
  {%endif%}
  {% if site.google_translate_layout %}
  <p>
    <div id="google_translate_element"></div>
  </p>
  {% endif %}
</div>
