<div class="group">
  {% if post.ogimage and post.no_ogimage != true %}
  <div class="title-small-thumbnail">
    <a href="{{ root_url }}{{ post.url }}">{%thumbnail small-thumbnail val:post.ogimage%}</a>
  </div>
  {% else %}
  {%capture postimg%}{{ post.content | amazon_img }}{%endcapture%}
  {% if postimg == "" %}
  {% if site.sitelogo %}
  <div class="title-small-thumbnail">
    <a href="{{ root_url }}{{ post.url }}">{%thumbnail small-thumbnail val:site.sitelogo%}</a>
  </div>
  {% endif %}
  {% else %}
  <div class="title-small-thumbnail">
  {{postimg}}
  </div>
  {% endif %}
  {% endif %}
  <a class="click_box_link" href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>{%if site.page-view.show_views and post._pv %}<br><span class="views">{{post._pv}} views</span>{%endif%}
</div>
