<script type="application/ld+json">
{
  "@context" : "https://schema.org",
  "@type" : "WebSite",
  "name" : "{{site.title}}",
{% if site.subtitle %}
  "alternateName" : "{{site.subtitle}}",
{% endif %}
  "url" : "{{site.url}}"
{% if site.google_result_page %}
  ,"potentialAction": {
    "@type": "SearchAction",
    "target": "{{site.url}}{{site.google_result_page}}?{{site.google_search_query}}={search_term_string}",
    "query-input": "required name=search_term_string"
  }
{% endif %}
}
</script>
{% if site.title_logo or site.aboutme_logo %}
{% capture logo %}{% if site.title_logo %}{{site.title_logo }}{% elsif site.aboutme_logo %}{{site.aboutme_logo}}{% endif %}{% endcapture %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "publisher": "{{site.author}}",
  "url": "{{site.url}}",
  "logo": "{{site.url}}{{logo}}"
}
</script>
{% endif %}

<script type="application/ld+json">
{ "@context" : "https://schema.org",
  "@type" : "Person",
{% if site.author %}
  "name" : "{{ site.author }}",
  "author" : "{{ site.author }}",
{% endif %}
{% if site.email %}
  "email" : "{{ site.email }}",
{% endif %}
{% if site.url %}
  "url" : "{{ site.url }}",
{% endif %}
{% if site.twitter_user or site.googleplus_user or site.facebook_user or site.linkedin_user %}
  "sameAs" : [
  {% if site.twitter_user %}
    {% assign is_prev = true %}
    "https://twitter.com/{{site.twitter_user}}",
  {% endif %}
  {% if site.googleplus_user %}
    {% if is_prev %}, {% else %}{% assign is_prev = true %}{% endif %}
    "https://plus.google.com/{{site.googleplus_user}}",
  {% endif %}
  {% if site.facebook_user %}
    {% if is_prev %}, {% else %}{% assign is_prev = true %}{% endif %}
    "https://www.facebook.com/{{site.facebook_user}}",
  {% endif %}
  {% if site.linkedin_user %}
    {% if is_prev %}, {% else %}{% assign is_prev = true %}{% endif %}
    "https://www.linkedin.com/in/{{site.linkedin_user}}"
  {% endif %}
  ],
  {% if site.homeLocation %}
  "homeLocation" : {
     "@type": "City",
     "name": "{{site.homeLocation}}"
  }
  {% endif %}
{% endif %}
}
</script>
{% if page.categories or page.tags %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement":
  [
  {% assign pos = 1 %}
  {% if page.categories and page.categories.size > 0 %}
    {% capture c %}{{page.categories|first}}{% endcapture %}
    {
      "@type": "ListItem",
      "position": {{pos}},
      "item":
      {
        "@id": "{{site.url}}/{{site.category_dir}}/{{c|downcase}}/",
        "name": "{{c}}"
      }
    }
    {% capture pos %}{{ pos | plus:1}}{% endcapture %}
  {% endif %}
  {% if page.tags and page.tags.size > 0 %}
    {% capture t %}{{page.tags|first}}{% endcapture %}
    {% if pos != 1 %},{% endif %}
    {
      "@type": "ListItem",
      "position": {{pos}},
      "item":
      {
        "@id": "{{site.url}}/{{site.tag_dir}}/{{t|downcase}}/",
        "name": "{{t}}"
      }
    }
    {% capture pos %}{{ pos | plus:1}}{% endcapture %}
  {% endif %}
  ]
}
</script>
{% endif %}
