---
layout: default
footer: false
description: site
---

<div class="blog-index" itemscope itemtype="http://schema.org/Blog">
  {% assign index = true %}
  {% include custom/pagetop.html %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
  <article class="index-article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    {% include article.html %}
  </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
    <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
    {% endif %}
  </div><!-- pagination -->
</div><!-- blog-index -->
{% if site.blog_index_asides.size %}
<aside class="sidebar">
  {% include_array blog_index_asides %}
</aside>
{% else %}
{% common_part common_sidebar.html %}
{% endif %}
