---
layout: default
footer: false

---

<div>
<article>
{%if site.google_custom_search == 'twopages'%}
  <div id='cse' style='width: 100%;'>Loading</div>
  <script src='//www.google.com/jsapi' type='text/javascript'></script>
  <script type='text/javascript'>
  google.load('search', '1', {language: '{{site.google_search_lang}}', style: google.loader.themes.MINIMALIST});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};
    var customSearchControl =   new google.search.CustomSearchControl('partner-pub-{{site.google_search_pub}}', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.enableSearchResultsOnly();
    customSearchControl.draw('cse', options);
    function parseParamsFromUrl() {
      var params = {};
      var parts = window.location.search.substr(1).split('&');
      for (var i = 0; i < parts.length; i++) {
        var keyValuePair = parts[i].split('=');
        var key = decodeURIComponent(keyValuePair[0]);
        params[key] = keyValuePair[1] ?
            decodeURIComponent(keyValuePair[1].replace(/\+/g, ' ')) :
            keyValuePair[1];
      }
      return params;
    }
    var urlParams = parseParamsFromUrl();
    var queryParamName = '{%if site.google_search_query%}{{site.google_search_query}}{%else%}q{%endif%}';
    if (urlParams[queryParamName]) {
      customSearchControl.execute(urlParams[queryParamName]);
    }
  }, true);
  </script>
{%elsif site.google_custom_search == 'onlyresults'%}
  <div id='cse' style='width: 100%;'>Loading</div>
  <script src='//www.google.com/jsapi' type='text/javascript'></script>
  <script type='text/javascript'>
  google.load('search', '1', {language: '{{site.google_search_lang}}', style: google.loader.themes.MINIMALIST});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};
    var googleAnalyticsOptions = {};
    googleAnalyticsOptions['queryParameter'] = 'q';
    googleAnalyticsOptions['categoryParameter'] = '';
    customSearchOptions['googleAnalyticsOptions'] = googleAnalyticsOptions;
    var customSearchControl =   new google.search.CustomSearchControl('partner-pub-{{site.google_search_pub}}', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.enableSearchResultsOnly();
    options.setAutoComplete(true);
    customSearchControl.draw('cse', options);
    $(".gsc-search-button .gsc-search-button").val(eval("'\\uf00e'"));
    function parseParamsFromUrl() {
      var params = {};
      var parts = window.location.search.substr(1).split('&');
      for (var i = 0; i < parts.length; i++) {
        var keyValuePair = parts[i].split('=');
        var key = decodeURIComponent(keyValuePair[0]);
        params[key] = keyValuePair[1] ?
            decodeURIComponent(keyValuePair[1].replace(/\+/g, ' ')) :
            keyValuePair[1];
      }
      return params;
    }
    var urlParams = parseParamsFromUrl();
    var queryParamName = '{%if site.google_search_query%}{{site.google_search_query}}{%else%}q{%endif%}';
    if (urlParams[queryParamName]) {
      customSearchControl.execute(urlParams[queryParamName]);
    }
  }, true);
  </script>
{%elsif site.google_custom_search == 'twolines'%}
  <div id='cse' style='width: 100%;'></div>
{%else%}
  <div id="cse-search-results"></div>
  <script type="text/javascript">
    var googleSearchIframeName = "cse-search-results";
    var googleSearchFormName = "cse-search-box";
    var googleSearchFrameWidth = 800;
    var googleSearchDomain = "www.google.co.jp";
    var googleSearchPath = "/cse";
  </script>
  <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
{%endif%}
</article>
</div>
{% if site.blog_index_asides.size %}
<aside class="sidebar">
  {% include_array blog_index_asides %}
</aside>
{% else %}
COMMON_SIDEBAR
{% endif %}
