// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

// Main Link Colors
//$link-color: lighten(#165b94, 3);
//$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25);
//$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4);
//$link-color-active: adjust-color($link-color-hover, $lightness: -15);

// Main Section Colors
//$main-bg: #f8f8f8 ;
//$page-bg: #252525;
//$article-border: #eeeeee;

//$header-bg: #333;
//$header-border: lighten($header-bg, 15);
//$title-color: #f2f2f2;
//$subtitle-color: #aaa;

//$text-color: #222;
//$text-color-light: #aaa;
//$type-border: #ddd;

/* Navigation */
//$nav-bg: #ccc;
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$nav-color: darken($nav-bg, 38);
//$nav-color-hover: darken($nav-color, 25);
//$nav-placeholder: desaturate(darken($nav-bg, 10), 15);
//$nav-border: darken($nav-bg, 10);
//$nav-border-top: lighten($nav-bg, 15);
//$nav-border-bottom: darken($nav-bg, 25);
//$nav-border-left: darken($nav-bg, 11);
//$nav-border-right: lighten($nav-bg, 7);

/* Sidebar colors */
//$sidebar-bg: #f2f2f2;
//$sidebar-link-color: $link-color;
//$sidebar-link-color-hover: $link-color-hover;
//$sidebar-link-color-active: $link-color-active;
//$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2);
//$sidebar-border: desaturate(darken($sidebar-bg, 7), 10);
//$sidebar-border-hover: darken($sidebar-bg, 7);
//$sidebar-link-color-subdued: lighten($sidebar-color, 20);
//$sidebar-link-color-subdued-hover: $sidebar-link-color-hover;

//$footer-color: #888;
//$footer-bg: #ccc;
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));
//$footer-color: darken($footer-bg, 38);
//$footer-color-hover: darken($footer-color, 10);
//$footer-border-top: lighten($footer-bg, 15);
//$footer-border-bottom: darken($footer-bg, 15);
//$footer-link-color: darken($footer-bg, 38);
//$footer-link-color-hover: darken($footer-color, 25);
//$page-border-bottom: darken($footer-bg, 5);

// For code
//$code-mainbg: #eaeaea; //white
//$code-subbg: #cdcdcd; //gray
//$code-color: #1a1a1a; // black
//$code-subcolor: #3f3f3f; //gray-white
//$code-comment: #a9a9a9; // gray
//$code-operator: #0a0a0a; //black
//$code-name: #3232ff; //blue
//$code-reserved: #3232ff; // blue
//$code-inserted: #ffff00; // yellow
//$code-builtin: #4F4F1D; // yellow
//$code-literal: #dc322f; // red
//$code-variable: #3232ff; // blue
//$code-error: #dc322f; // red
//$code-subheading: #6c71c4; //violet
//$code-type: #006f00; // green

//$graycode: light !default;

//@if $graycode == dark {
//  $code-mainbg: #141414; //black
//  $code-subbg: #323232; //gray
//  $code-color: #e1e1e1; // white
//  $code-subcolor: #cdcdcd; //gray-white
//  $code-comment: #0080ff; // blue
//  $code-operator: #ffff32; //yellow
//  $code-name: #f5f500; //yellow
//  $code-reserved: #ffff28; // yellow
//  $code-inserted: #ffff00; // yellow
//  $code-builtin: #ffff00; // yellow
//  $code-literal: #ff32ff; // magenta
//  $code-variable: #00fbfb; // light blue
//  $code-error: #dc322f; // red
//  $code-subheading: #6c71c4; //violet
//  $code-type: #00ff55; // green
//}

//$pre-bg: $code-mainbg;
//$pre-border: darken($code-subbg, 5);
//$pre-color: $code-color;
