// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#title-logo-img {
  padding-left: 60px;
  //width: 45px;
  //height: 45px;
  background-repeat: no-repeat;
  background-size:contain;
  background-image: inline-image('');
}

.feedlyimg {
  //width:            56px;
  //height:           56px;
  background-repeat: no-repeat;
  background-image: inline-image('feedly.png');
}

#aboutme-logo {
  padding-left:        1em;
  //width:            100px;
  //height:           100px;
  background-repeat: no-repeat;
  background-image: inline-image('');
}

