// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.dotted-border {
  border: 0 none;
  background-repeat:repeat-x;
  background-image:url(/images/dotted-border.png)
}
